# <b>Step1:</b>
##    - <b>Import all the needed libraries</b>

In [31]:
import pandas as pd

# <b>Step 2: </b>
## - <b> Define data source location - either from web or local drive </b>

In [32]:
data_source = f"d:/data/name_example.xlsx"

# <b>Step 3</b>
## - <b>Read data from data source and store in table - 'df'</b>

In [33]:
df = pd.read_excel(data_source, sheet_name='full_name_list')

#print out table, 'df', for preview
print(df)

           full_name
0  Gabriel Batistuta
1         Abel Balbo
2          Luca Toni
3     Roberto Baggio

# <b>Step 4</b>
## - <b> Task1: add 2 columns to table,'df', named 'first_name' and 'last_name'</b>
## - <b> Task2: return the first name and last name for the columns respectively </b>

In [34]:
#The original workbook data,'full_name_list', is stored in table, 'df'
"""
Now we need to create a new table, 'df1', to store the new data 
that contains 3 columns, 'full_name', 'first_name','full_name'
"""
df1 = df.copy()

# let 'i' be the individual item in column 'full_name'
df1['first_name'] = [f"{i.split(' ')[0]}" for i in df1['full_name']]
df1['last_name'] = [f"{i.split(' ')[1]}" for i in df1['full_name']]
                    
df1

           full_name first_name  last_name
0  Gabriel Batistuta    Gabriel  Batistuta
1         Abel Balbo       Abel      Balbo
2          Luca Toni       Luca       Toni
3     Roberto Baggio    Roberto     Baggio

# <b>Step 5</b>
## - <b>Save the result to a new worksheet,'result', back to the original excel file</b>

In [45]:
# you may have a different local drive location (change accordingly)
target_location = f"{data_source}"

#save result to 'target_location' while keeping the original worksheet 'full_name_list'
with pd.ExcelWriter(target_location) as writer:
    df.to_excel(writer, sheet_name='full_name_list',index=False)
    df1.to_excel(writer, sheet_name='result',index=False)